@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    font-family: 'EB Garamond', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #0D1117 !important;
}

#text, #colorName {
    color: white;
}

#inputField {
    font-size: 16px !important;
}

#outputField {
    pointer-events: none !important;
    height: 50vh !important;
    background-color: white;
    border: 4px solid white !important;
}

a {
    color: #5aa1e9 !important;
    text-decoration: none !important;
}

a:focus, a:hover {
    color: rgb(255, 128, 82) !important;
    text-decoration: none !important;
}